.cartContent {
  margin: 2em auto;
  background: #ffffff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.cartDetail {
  display: flex;
  flex-direction: column;
}
.cartDetail p {
  margin: 0;
}
.itemRow {
  padding: 1.5em 1.5em;
  height: 7em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.deleteCartItem button {
  border: none;
  background-color: #fff;
}
.deleteCartItem button img {
  width: 40px;
  margin-right: 2em;
  cursor: pointer;
}

.itemRow img {
  width: 4em;
  height: 4em;
}
.itemRow h1 {
  padding: 20px 30px;
}

.itemRow h4 {
  color: #21475a;
  font-size: 1.2em;
  line-height: 0%;
  margin-left: 1em;
  margin-right: 3em;
  margin-top: 0;
}

.itemRow p {
  color: #888;
  font-weight: 500;
  margin-left: 1em;
  margin-right: 3em;
}

.itemImage {
  min-width: 5em;
}
.itemTitle {
  width: 23em;
}
.cartTotal {
  color: #21475a;
  font-weight: 600;
  background-color: #fafafa;
  border-radius: 24px;
  padding: 2em;
  margin-top: 1em;
}
.cartTotal h2 {
  line-height: 0%;
  margin-bottom: 1em;
}
.formButton {
  background-color: #6ebdaa;
  border: none !important;
  border-radius: 28px;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  height: 4em;
  padding-left: 2em;
  padding-right: 2em;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 2.5em;
}
.formButton:disabled {
  background-color: #ddd;
}

.subtotal {
  display: flex;
}
.subtotal p {
  color: #21475a !important;
  font-weight: 600 !important;
}

.purchase {
  color: #21475a;
  padding: 20px 30px;
  font-weight: 600;
  margin-top: 2em;
  margin-left: 2em;
}
.userInfo label {
  font-size: 1em;
}

.userInfo input {
  margin-top: 0.8em;
  margin-bottom: 1em;
  border: none;
  background-color: rgb(248, 247, 247);
  padding: 1em;
  font-size: 1em;
  width: 20em;
  border-radius: 5px;
}
.circlebuttons {
  border-radius: 50% 50% 50% 50% !important;
  background-color: #6ebdaa;
  color: white;
  border: none;
  height: 3em;
  width: 3em;
  min-width: 32px;
}
.buttonCounter {
  color: #6ebdaa;
  background: none;
  border: none;
  padding-left: 1em;
  padding-right: 1em;
}
/*mobile  */
@media screen and (max-width: 640px) {
  .cartDetail {
    width: 70%;
  }
  .counterGroup {
    margin-top: 2em;
  }
  .addCartButton {
    margin-left: 0;
    margin-top: 2em;
  }
}

/*tablet  */
@media screen and (min-width: 640px) and (max-width: 1280px) {
  .counterGroup {
    margin-top: 2em;
  }
}
