.productDetail {
  display: flex;
  padding-bottom: 5em;
}

.productDetail h4 {
  color: #6ebdaa;
  text-align: left;
  font-size: 0.8em;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.productDetail img {
  height: 30em;
  margin-left: 10em;
}

.productDetail h1 {
  text-align: left;
  font-weight: 800;
  font-size: 2em;
  color: #21475a;
}

.prodinfo {
  width: 40%;
  margin-left: 5em;
}

.prodinfo h5 {
  font-size: 1.5em;
  margin-left: 15px;
  color: #21475a;
}

.prodinfo a {
  text-decoration: none;
}

.prodinfo .pricediv {
  align-items: left !important;
}
.prodinfo .pricediv img {
  margin-left: 0 !important;
}

/*mobile  */
@media screen and (max-width: 640px) {
  .productDetail {
    flex-flow: column wrap;
  }

  .productDetail img {
    margin-left: 0;
    width: inherit;
    padding-left: 3em;
    padding-right: 3em;
  }

  .prodinfo {
    width: inherit !important;
    margin-left: 0;
    padding-left: 3em;
    padding-right: 3em;
  }
}

/*tablet  */
@media screen and (min-width: 640px) and (max-width: 1280px) {
  .productDetail {
    flex-flow: column wrap;
  }

  .productDetail img {
    margin-left: 0;
    width: inherit;
    padding-left: 3em;
    padding-right: 3em;
  }

  .pricediv img {
    padding: 0 !important;
  }

  .prodinfo {
    width: inherit !important;
    margin-left: 0;
    padding-left: 3em;
    padding-right: 3em;
  }
}
