.itemListContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: 3em;
}

.itemListContainer h1 {
  color: #21475a;
  font-size: 40px;
  font-weight: 700;
}

.itemListContainer p {
  color: #21475a;
  font-size: 16px;
}

.LoaderContainer {
  display: flex;
  justify-content: center;
}

.LoaderContainer img {
  width: 100px;
}

.ListContainer {
  display: inline-grid;
  margin-top: 3em;
}

.ListContainer img {
  height: 12em;
  width: inherit;
}
